html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}


#topnav{
  background-color: #abb8cc;
  width: 100%;
  height: auto;
	color: #fff;
  text-align: center;
  position: fixed;
	text-decoration: none;
}

#topnav a:hover {
  color:#cdd199;
    text-decoration: none;
}

 #topnav a{
  color: #fff;
  display: inline-block;
  padding:15px 20px;
  text-decoration: none;
  text-transform: uppercase;
}


h2{
  text-align: center;
}


/* slide animation*/
.slideshow-container{
  background: #d1e3de;
  text-align: center;
}

.mySlides {display: none;}
img {
  vertical-align: middle;
  width: 40%;
  height: 40%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 186, 0.5);

}


.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: aboslute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/*Fading animation*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}             /* end of slide show animation*/


/*  gallery css for lightbox*/
.gallery-contianer{
  background: #cccfbe;
  text-align: center;
}

.gallery-contianer img{
	transition: 1s;
	padding: 1%;
  width: 15%;
  display: inline-block;
  margin: 15px 8px;
  border: 1px solid #ddd;

}

.gallery-contianer img:hover{
  opacity: .8;
	box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
}

.Video-container{
  color:#fff;
  text-align: center;
  background: #a9bec2;
  padding:30px;
}

footer{
  text-align: center;
  background: #1c3b2e;
  color: #fff;
  padding:30px;
}
footer.content{display:inline;}
