@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li, a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #24252A;
	text-decoration: none;
}

li:hover, a:hover {
	color: #ffffff;
	transition: 0.2s ease;
	cursor: pointer;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 25px;
	color: #24252A;
	text-decoration: none;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

p.footer {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	background-color: #edf0f1;
}

footer {
	background-color: #edf0f1;
	vertical-align: baseline;
	width: 100%;
}

.footerInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
}

.contact {
	text-align: center;
	height: 200px;
}

.community {
	text-align: center;
	height: 200px;
}

.additional {
	text-align: center;
	height: 200px;
}

p.footer {
	margin-top: 5px;
	margin-bottom: 5px;
}

.nav-links {
	list-style: none;
}

.nav-links li {
	display: inline-block;
	padding: 0px 20px;
}

button#myBtn {
	display: block;
	margin: 15px auto 15px auto;
	background-color: #808080;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

button#myBtn:hover {
	background-color: #8f8f8f;
}

button#myBtn:focus {
	outline: none;
}

.toTop {
	height: 60px;
}


/* Trail Maps Page */

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-item {
    display: flex;
    padding: 5px;
    margin-top: 10px;
    object-fit: cover;
    height: 400px;
    width: 400px;
}

.flex-item > img {
    resize: both;
    object-fit: cover;
    width: 100%;
}

.trailName {
    line-height: 20px;
}

.areaPlans {
    background-color: dimgrey;
    object-fit: cover;
    height: 600px;
    width: 600px;
}

.priority1IMG {
    resize: both;
    object-fit: cover;
    width: 100%;
}
