

/* Trail Maps Page */
html, body {
    height: 100%;
}

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.head-container {
    text-align: justify;
    padding: 2%;
    color: #F7F7FF;
}

section.head-container {
    background-color: #495867;
}

.body-container {
    padding: 2%;
    background-color: #577399;
}

section.body-container {
    background-color: #577399;
}

/* Title and activity container */
.page-title {
    color: #F7F7FF;
    padding: 1% 0 0 5%;
}

.activities {
    color: #F7F7FF;
    padding: .5% 0 .5% 8%;
}

.p-info {
    display: flex;
    object-fit: cover;
    padding: .2% 11% 1% 11%;
}

/* Map Area and Legend */
#map {
    display: flex;
    height: 65%;
    width: 85%;
    margin: 5% auto 2% auto;
    background: #BDD5EA;
}

.legend-head {
    padding-left: 5%;
}

.legend-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    align-items: stretch;
}

.legend-box-1 {
    flex: 1 0 15%;
}

.legend-box-2 {
    flex: 1 0 25%;
}

.legend {
    list-style: none;
    margin: 10%;
}

.color-code {
    height: 10%;
    width: 10%;
}

.square1 {
    background: #f8ff33;
}

.square2 {
    background: #ff9029;
}

.square3 {
    background: #21db00;
}

.square4 {
    background: #ff2424;
}

.square5 {
    background: #0206f2;
}

.square6 {
    background: #c424f9;
}

.square7 {
    background: #6800b3;
}

.square8 {
    background: #8a0000;
}

.icon {
    width: 20%;
    height: 20%;
    margin: 0 0 0 4%;
}

/* Area Plan Styling */
.plans-page-title {
    color: #FE5F55;
    font-size: 2em;
    padding: 2% 0 0 5%;
}

hr.plans-hr {
    border: 1px solid #FE5F55;
    margin-inline-start: 3%;
    margin-inline-end: 3%;
    margin-block-start: 3%;
}

.area-plan-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3%;
    list-style: none;
}

.areaPlanIMG {
    display: flex;
    object-fit: cover;
    padding: 5% 0 0 0;
}

.area-plan-img > img {
    resize: both;
    object-fit: cover;
    width: 100%;
    align-items: baseline;
    padding: 2%;
    border: 2px solid #FE5F55;
 }

.area-plan-heading {
    padding: .5% 0 .5% 8%;
    color: #FE5F55;
}

.plan-p-info {
    display: flex;
    padding: .2% 11% 1% 11%;
    object-fit: cover;
    color: #BDD5EA;
}



