

/* Trail Maps Page */
html, body {
    height: 100%;
}

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

tr {
    margin-left: 15%;
}

.color-code {
    margin: 1%;
    width: 25%;
}

.p-info {
    text-align: justify;
}

/* Menu Styles */
.instruct {
    display: flex;
    justify-content: center;
    margin: 2% auto 2% auto;
    font-weight: bolder;
    font-size: 1.2em;
}

#menu {
    display: flex;
    z-index: 3;
    border-radius: 2px;
    width: 100%;
    justify-content: center;
    margin-bottom: 2%;
}

/* Map Legend */
.legend-head {
    padding-left: 5%;
}

.row {
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    border: none;
}

/* Media Queries */
@media (min-width: 320px) {
    .instruct {
        display: flex;
        margin: 4% auto 4% auto;
        font-weight: bolder;
        font-size: .72em;
    }

    #menu {
        margin: 0 auto 0 auto;
        flex-direction: column;
        width: 65%;
        padding-bottom: 4%;
    }

    #menu a {
        margin: 15px 15px;
    }

    table {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }

    .legend-container {
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .legend {
        background: white;
        padding: 2%;
        border: 3px solid #533747;
        margin: 2%;
    }

    .color-code {
        border: none;
        width: 10%;
        height: 35px;
    }

    .trail-name {
        font-size: .9em;
        width: 35%;
        border: none;
        padding: 2%;
        font-family: 'Montserrat', sans-serif;
    }
  
    .icon {
        width: 7%;
        border: none;
        margin-right: 3%;
    }

    .plan-p-info {
        text-align: justify;
    }
}

@media (min-width: 768px) {
    .instruct {
        display: flex;
        margin: 4% auto 4% auto;
        font-weight: bolder;
        font-size: 1em;
        justify-content: center;
    }

    #menu {
        margin: 0 auto 0 auto;
        flex-direction: column;
        width: 35%;
        padding-bottom: 4%;
    }

    .icon {
        margin-right: 1.5%;
    }

    .trail-name {
        font-size: 1em;
    }

    .plan-p-info {
        text-align: justify;
    }
}

@media (min-width: 992px) {
   #menu {
       flex-flow: row nowrap;       
       width: 75%;
   }

   #menu a {
       width: 300px;
   }

   .color-code {
       width: 7%;
   }

   .icon {
       width: 7%;
       margin-right: 2%;
   }
   
   .trail-name {
       font-size: 1.3em;
   }
}